//
basicCircleComputerPointillism/documentation/*
basicCircleComputerPointillism/outputs/*
basicCircleComputerPointillism/documentation/*
basicCircleComputerPointillism/outputs/*


basicCircleComputerPointillism_Efficiency/documentation/*
basicCircleComputerPointillism_Efficiency/outputs/*
basicCircleComputerPointillism_Efficiency/documentation/*
basicCircleComputerPointillism_Efficiency/outputs/*

basicCircleComputerPointillism_baseColor/documentation/*
basicCircleComputerPointillism_baseColor/outputs/*
basicCircleComputerPointillism_baseColor/documentation/*
basicCircleComputerPointillism_baseColor/outputs/*

basicCircleComputerPointillism_classesAdded/documentation/*
basicCircleComputerPointillism_classesAdded/outputs/*
basicCircleComputerPointillism_classesAdded/documentation/*
basicCircleComputerPointillism_classesAdded/outputs/*

basicCircleComputerPointillism_classesAdded3d/documentation/*
basicCircleComputerPointillism_classesAdded3d/outputs/*
basicCircleComputerPointillism_classesAdded/documentation/*
basicCircleComputerPointillism_classesAdded/outputs/*

resources/private
