//
basicCircleComputerPointillism/documentation/*
basicCircleComputerPointillism/outputs/*
basicCircleComputerPointillism/documentation/*
basicCircleComputerPointillism/outputs/*


basicCircleComputerPointillism_Efficiency/documentation/*
basicCircleComputerPointillism_Efficiency/outputs/*
basicCircleComputerPointillism_Efficiency/documentation/*
basicCircleComputerPointillism_Efficiency/outputs/*

resources/private
