//
basicCircleComputerPointillism/documentation/*.png
basicCircleComputerPointillism/outputs/*
basicCircleComputerPointillism/documentation/*.jpg
basicCircleComputerPointillism/outputs/*


basicCircleComputerPointillism_Efficiency/documentation/*.png
basicCircleComputerPointillism_Efficiency/outputs/*
basicCircleComputerPointillism_Efficiency/documentation/*.jpg
basicCircleComputerPointillism_Efficiency/outputs/*
